@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f2f8ff;
    --color-textPrimary: #171731;
    --color-textSecondary: #13126c;
    --color-textTertiary: #65657b;
    --color-error: #c34648;

    --color-buttonDefaultPrimaryBg: #3667e9;
    /* TODO hover is 5% darker then primary, get actual spec from design */
    --color-buttonDefaultPrimaryBgHover: #295de8;
    /* TODO active is 10% darker then primary, get actual spec from design */
    --color-buttonDefaultPrimaryBgActive: #1c53e6;
    --color-buttonDefaultPrimaryText: #ffffff;

    --color-borderDefault: #e7e9ef;

    --color-inputBorderDefault: #6d7088;

    --color-stepperBg: #3667e9;
  }
}

body {
  color: var(--color-textPrimary);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

/* TODO add global focus-visible style for keyboard nav to match app colors and design */
