@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f2f8ff;
    --color-textPrimary: #171731;
    --color-textSecondary: #13126c;
    --color-textTertiary: #65657b;
    --color-error: #c34648;
    --color-buttonPrimaryBg: #3667e9;
    --color-buttonPrimaryText: #ffffff;
  }
}

body {
  color: var(--color-textPrimary);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
